HF_ENDPOINT=https://hf-mirror.com
# WANDB_BASE_URL=https://api.bandw.top
# WANDB_BASE_URL=https://rxf-proxy.filegear-sg.me/https://api.wandb.ai
# http_proxy=http://localhost:3067
# https_proxy=http://localhost:3067